@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    /* background-color: #2e006b; */
    background: url('resources/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

#chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}

#logo {
    height: 130px;
    margin-bottom: 30px;
}

input {
    width: 60vw;
    height: 90px;
    padding: 0 20px;
    font-size: 10pt;
}

button {
    width: 60vw;
    height: 90px;
    font-size: 18pt;
    background-color: #914cd6;
    text-align: center;
    line-height: 5vw;
    color: #FFF;
    margin-top: 1vw;
    cursor: pointer;
    transition: background-color linear 0.2s;
}

button:hover {
    background-color: #c471ed;
}

.messages {
    width: 60vw;
    height: 40vw;
    padding: 20px;
}

.message_box {
    display: inline-block;
    /* padding: 10px 15px; */
    /* background-color: #c471ed; */
    margin-bottom: 5px;
    /* border-radius: 10px; */
    font-size: 13pt;
}

button, input, .messages {
    border-radius: 10px;
    border: none;
    margin: 5px 0;
}

input, .messages {
    background-color: #fff;
    color: #2e006b;
}

input:focus {
    outline: none;
}

@media screen and (max-height: 1000px) and (max-width: 1100px) {
    #logo {
        height: 80px;
        margin-bottom: 10px;
    }

    input, button {
        height: 50px;
    }

    .messages {
        height: 50vh;
    }

    .message_box {
        font-size: 10pt;
        /* padding: 5px 10px;
        border-radius: 7px;
        margin-bottom: 5px; */
    }
}